Collection Data Types
==================

## List

In [138]:
L = [1,2,3,4,5.0,'fff',['a','b','c']]

In [124]:
# indexing
L[1]
L[-1]

# updating
L[1]=200

In [136]:
# modify list
L.append(10)
L.insert(1,10)
L.remove(10)
L.extend([1,1,1])
L.append([1,1,1])

In [41]:
L.append([1,2,3])

In [42]:
L.extend([1,2,3])

[0,
 4,
 6,
 8,
 10.0,
 [1, 'a', True, [1, 2, 100, 4]],
 [1, 2, 3],
 1,
 2,
 3,
 [1, 2, 3]]

In [43]:
A = [1,2,3,4,5]

In [155]:
# swap first element with last element
A[-1],A[0]=A[0],A[-1]
A

[5, 2, 3, 4, 1]

In [48]:
# loop from behind
for i in range(-1,-1*(len(A)+1),-1):
    print(A[i])

5
4
3
2
1

## Tuple

In [141]:
T = (2,3,4,5,'abc')

In [146]:
# Can't modify tuple
T.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [149]:
Titik = [(0,0),(0,1),(1,0)]
Titik[0]

(0, 0)

In [153]:
Titik.append((1,1))
Titik[0][0]

0

In [64]:
Titik[0][1]

0

## Dictionary

In [157]:
D = {'senin':1,'selasa':2,'rabu':3}
D

{'senin': 1, 'selasa': 2, 'rabu': 3}

In [168]:
# get keys
D.keys()
# get values
D.values()

dict_values([1, 2, 4, 5, 5])

In [165]:
# Add new element in dictionary
D['jumat']=5

In [177]:
# Given 2 lists, create dictionary from these 2 lists
L1 = list('abcdefghijkl')
L2 = [1,2,3,4,5,6,7,8,9,10,11,12]

In [178]:
# Cara 1
D2 = {}
for i in range(len(L1)):
    D2[L1[i]] = L2[i]
D2

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12}

In [179]:
# Cara 2
D3 = {L1[k]:L2[k] for k in range(len(L1))}
D3

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12}

In [180]:
# Cara 3
D4 = dict(zip(L1,L2))
D4

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12}

In [170]:
# Nested dictionary
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

In [175]:
sampleDict['class']

{'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}

In [182]:
# extract some element in dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

keys = ["name", "salary"]

In [184]:
{k:sampleDict[k] for k in ['name','age','salary']}

{'name': 'Kelly', 'age': 25, 'salary': 8000}